/* ~~ ~~ ~~ FOUNDATION EDITS ~~ ~~ ~~ */

.fullWidth {
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* ~~ ~~ ~~ 99PI ABOUT STYLE TEMPLATES ~~ ~~ ~~ */
/*About, meet owner, etc.*/
/*everything is under '.about-template'*/

.about-template {}

  .about-slider {
      height: 275px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      background-position: center center;
      background-size: cover;
  }

  .about-slider .nav-container {
      max-width: 1080px;
      max-width: 1100px;
      margin: 0 auto;
      flex: 1;
  }

  .about-slider .navigation {
      display: flex;
      align-items: center;
  }

.about-slider .item-active {
    padding-top: 24px;
    padding-bottom: 22px;
    padding: 20px 24px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-bottom: 2px solid #006aad;
    background: #006aad;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.item-active a {
    color: #fff;
}

.about-slider .item {
    background: rgba(255, 255, 255, 0.85);
    padding: 12px 28px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.item a {
    color: #333;
}

.item a:hover {
    text-decoration: underline;
}

.about-content .title-row h1 {
    font-size: 36px;
    color: #214a61;
    color: #343434;
    margin-bottom: 25px;
}

.about-content .title-row h1::after {
    content: " ";
    background: #006aad;
    height: 7px;
    width: 100px;
    display: flex;
    margin-top: 25px;
    position: relative;
    margin-left: 15px;
}

.about-content .content-row {
    padding: 0 15px;
}

.content-row h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 24px;
    color: #343434;
}

.content-row li {
    font-size: 18px;
}

.content-row p {
    font-size: 18px;
}

/*meet-owner*/

.about-content .mobile-pic {
    text-align: center;
}

.mobile-pic img.mario-meet-owner {
    margin: auto;
    padding: 15px;
}

/*partners*/

a.partner-link {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    max-width: 360px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    background: rgba(247, 247, 247, 0.4);
}

a.partner-link:hover {
    background: rgb(231, 246, 255);
    border-color: #b8d0de;
    transition: 300ms ease;
}

img.partner-img {
    max-width: 200px;
    height: auto !important;
    margin-bottom: 1rem;
}

/*responsive*/

@media (max-width:768px) {

  .about-slider .navigation {
      flex-wrap: wrap;
      flex-direction: row;
  }

  .about-slider .item-active {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 14px;
      font-size: 14px;
      font-weight: 500;
      padding: 11px 28px;
      height: 60px;
      flex-grow: 1;
      width: 50%;
      display: flex;
      align-items: center;
  }

  .about-slider .item {
      height: 60px;
      width: 50%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      background: #f6f6f7;
      font-size: 14px;
  }

}

/* CONTACT PAGE */

.row.content-row.contact-row.contact-three {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.contact-three .large-4 {
    text-align: center;
    margin-bottom: 1rem;
}

.contact-three h2 {
    background: #f7f7f7;
    display: -webkit-inline-box;
    padding: 12px 30px;
    font-size: 28px;
    color: #006aad;
    background-image: linear-gradient(15deg, rgba(147, 215, 255, 0.13) 0%, rgba(226, 235, 240, 0) 100%);
    border-radius: 5px;
    margin-bottom: 2rem;
}

.contact-three i {
    margin-right: 10px;
    position: relative;
    top: 1px;
    font-size: 32px;
}

.contact-three p.address {
    font-size: 20.5px;
}

a.link.phone {
    color: #343434;
    font-size: 26px;
    font-family: 'roboto';
    font-weight: 600;
}

a.link.email {
    width: initial;
    font-size: 26px;
    font-family: 'roboto';
    color: #343434;
    font-weight: 600;
}

p.dive-phone {
    margin: 0px;
    font-size: 22px;
    font-family: 'roboto';
    color: #555;
    letter-spacing: 0.5px;
    position: relative;
    bottom: 15px;
}

.contact-three p.address {
    font-size: 20px;
    font-family: 'roboto';
    font-weight: 600;
    color: #343434;
}

/*slider images*/

.about-slider.about-dive-world {
    background-image: url(/wp-content/uploads/2017/03/about-dive-world.jpg);
    background-image: url(https://diveworld.ca/wp-content/uploads/2018/08/dive-world-gullivers-group.jpg);
    background-position: right;
    height: 350px;
    height: 450px;
    height: 500px;
}

.about-slider.meet-the-owner {
    background-image: url(/wp-content/uploads/2017/03/mario-boat-2.jpg);
    height: 350px;
}

.about-slider.partners {
    background-image: url(/wp-content/uploads/2017/05/dive-world-partners-behind-the-mask.jpg);
  height: 350px;
}

.about-slider.contact {
    background-image: url(/wp-content/uploads/2017/03/contact-table.jpg);
  height: 350px;
}

.about-slider.meet-the-pete {
  background-image: url(/wp-content/uploads/2018/04/pete-gilbert-lake.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 350px;
}

/* END THESE TEMPLATES */


/*PRODUCT ADJUSTMENTS*/

@media (min-width:768px) {
  img.attachment-shop_catalog.size-shop_catalog.wp-post-image {
      max-height: 231px;
  }
}

.front-image {
    min-height: 231px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* ~~ ~~ ~~ SPEARFISH CATEGORY PAGE EDITS ~ ~ ~ */

.page-id-13865 .category-desc-row p {
    font-size: 28px;
}

/* ~~ ~~ ~~ ADVANCED OPEN WATER PAGE TEMPLATE ~~ ~~ ~~ */

.aow {

}

.page-template-aow-php h2 {
    font-size: 28px;
    color: #0D47A1;
    margin-top: 1em;
}

.large-12.columns.kd-options {
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 0px;
}

.kd-options h3 {
    color: #0d47a1;
    font-size: 22px;
}

.large-12.columns.kd-options.reccomended.elearning {
    padding-bottom: 0;
    border-color: #2e7d32;
}

.kd-options .option p {
    margin-bottom: 0;
    padding: 10px 0 10px;
    font-size: 20px;
    color: #1E5F07;
    font-weight: 600;
}

.reccomended .option {
    background: #AAE97F;
    border-top: 1px solid #2e7d32;
}

.large-12.columns.video-intro {
    margin-bottom: 2em;
}

.a-dive {
    border-left: 2px solid #90CAF9;
    background: #E3F2FD;
    margin-left: 15px;
    margin-bottom: 30px;
}

.a-dive h3 {
    color: #0D47A1;
    margin-top: 1em;
    font-size: 22px;
}

.a-dive.last {
    position: relative;
    left: 15px;
}

.large-4.img {
    display: flex;
    height: 200px;
    margin-bottom: 20px;
}

.elearning .large-4 .img {
    background: url(https://diveworld.ca/wp-content/uploads/2015/06/Dive-in-online-com.jpg);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.manual-dvd .large-4 .img {
    background: url(https://diveworld.ca/wp-content/uploads/2015/07/padi-adventures-in-diving.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.large-12.columns.kd-options.manual-dvd {
    padding: 15px 15px;
}

.how-works-reason h3 {
    color: #d13d14;
}

.large-12.columns.aow-final {
    padding: 0;
}



div#tkt-slctr-tbl-wrap-dv-3933 {
    border: none;
    border-radius: 0;
    border-top: 2px solid #90caf9;
}

.ticket-selector-div .large-6 .large-12 {
    background: #fff;
    padding: 15px;
}

.secure-payment-img {
    background: url(https://diveworld.ca/wp-content/uploads/2015/06/payment-icons.png);
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.ssl-img {
    background: url(https://cdn2.bigcommerce.com/n-arxsrf/6h9jfze/product_images/uploaded_images/ssl-valid-en-m.gif);
    height: 68px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.ssl .large-4.columns {
    padding: 0;
}

.ticket-selector-div .large-6.ssl {
    /* background: #a5d6a7; */
    padding-left: 0;
    padding-right: 0;
}

.secure-payment p {
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
    margin-bottom: 7px;
}

.ticket-selector-div .ssl p {
    font-size: 14px;
    margin-bottom: 0;
}

.ticket-selector-div .large-6.ssl .large-12 {
    background: #a5d6a7;
    background-color: #aae97f;
    border: 1px solid #60a149;
    padding: 12px 5px;
    border-radius: 5px;
}

.ticket-selector-div .large-6 .large-12 {
    /* background: #fff; */
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid rgba(73, 73, 73, 0.59);
    /* padding: 5px 5px 5px 5px; */
    border-radius: 5px;
    /* width: 255px; */
    padding: 10px 10px;
}

/* MOBLE AOW */

.ticket-selector-div .large-6 {
    margin-bottom: 20px;
}

.large-12.columns.ticket-selector-div {
    background: #e3f2fd;
    background: none;
    padding: 20px 20px;
    padding: 0;
    margin-bottom: 2rem;
}

.aow-final h2 {
    color: #0b4c75;
}

/* READ MORE BTN */

a.ajax_add_to_cart.product_type_simple.button.alt-button.small.clearfix {
    background-color: #3498db !important;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    border: 0px solid #217dbb !important;
    border-radius: 2px;
    background-image: linear-gradient(to bottom,hsla(0,0%,100%,.12) 0%,hsla(0,0%,100%,0) 100%);
    padding: 0.78em 1em;
    transition: 300ms ease !important;
}

/* Intro to freediving page*/

.freediving-intro-p {
    margin-top: 1em;
    margin-bottom: 0.75em;
    font-size: 24px;
}

.page-id-10290 h2 {
    color: #0b4c75;
    margin-top: 1em;
}


/* homepage tiles */

.ht-our-mandate {
  background: url(/wp-content/uploads/2017/04/mario-instructor-our-mandate.jpg);
      background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/* dsd btn */

@media (max-width:600px) {

  .page-id-4624 .RegistrationPageCTA h2 {
      color: #333384;
  }

  .page-id-4624 .RegisterTicketsOW {
      padding: 0px 0px !important;
      margin: 0px 0px !important;
      border: none !important;
      background-color: rgba(221, 221, 221, 0);
  }

  .page-id-4624 .RegPageCTABottom {
    display: none;
  }

  .page-id-4624 div#tkt-slctr-tbl-wrap-dv-4626 {
    padding: 0px;
    border: 0px;
  }

  .page-id-4624 .RegistrationPageCTA {
    border-radius: 0px;
    border: 0px;
    background: rgba(66, 165, 245, 0.13);
    margin-bottom: 25px;
}

}

/* new footer */

h3.f-h3::after {
    content: " ";
    display: flex;
    height: 2px;
    width: 25px;
    background: #fff;
    position: relative;
    top: 15px;
}

.footer.footer-1.light {
    display: none;
}

.f-h3 {
    color: #fff;
    margin-bottom: 1.75rem;
}

.f-a-link .fa {
    width: 27px;
    font-size: 20px;
}

.f-a-link {
    color: #fff;
    font-size: 17px;
    line-height: 2em;
}

.f-a-link:hover {
    color:#fff !important;
    text-decoration: underline;
}

.f-a-link:focus {
    color:#fff !important;
    text-decoration: underline;
}

/* freedive credit */

.freedive-video p {
    margin-top: 1rem;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'roboto';
}

.freedive-video p a {
    color: #006aad;
    font-weight: 600;
}

.freedive-video p a:hover {
    text-decoration: underline;
    color: #22384c;
}

/* ~ ~ ~ COURSE CHECKOUT ~ ~ ~ */

/*main elements*/

.page-template-course-registration-checkout .header-wrapper.before-sticky {
    display: none;
}

.page-template-course-registration-checkout .footer.footer-2.light {
    display: none;
}

.page-template-course-registration-checkout .FooterCTA.footer-no-home {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*header*/

.page-template-course-registration-checkout .header .elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dw-logo.a {
    background: url(https://diveworld.ca/wp-content/uploads/2015/06/dive-world-head-logo-6.png);
    background: url(/wp-content/uploads/2018/05/diveworld-logo-c-karmina.png);
    width: 275px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.dw-phone.b {
    text-align: right;
}

.dw-phone.b p {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: #034465;
    line-height: 1.5em;
}

.dw-phone.b p.questions {
    font-size: 20px;
    color: #777;
}

/*content area*/

.checkout-bg {
    background: #e3edf1;
    background: url(/wp-content/uploads/2017/05/blue-checkout-bg-1.jpg);
    background: url(/wp-content/uploads/2017/05/blue-checkout-bg-2.jpg);
    background-size: cover;
    background-position: center center;
    padding: 35px 10px 45px;
    border-top: 1px solid #6fa6c3;
    border-bottom: 1px solid #6fa6c3;
}

/*img*/

.course-preview-img {
    margin-bottom: 40px;
}

.gc-img {
    height: 225px;
    box-shadow: 0px 5px 20px rgba(0, 48, 97, 0.5);
    border-radius: 5px;
}

.gc-img.a {
    background: url(/wp-content/uploads/2017/05/equipment-setup.jpg);
    background-size: cover;
    background-position: center center;
}

.gc-img.b {
    background: url(/wp-content/uploads/2017/05/poolside-setup.jpg);
    background-size: cover;
    background-position: center center;
}

.gc-img.c {
    background: url(/wp-content/uploads/2017/05/olympium-pool.jpg);
    background-size: cover;
    background-position: center center;
}

/* checkout form */

.checkout-bg .checkout-form .form {
    background: #fff;
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
    box-shadow: 0px 5px 20px rgba(0, 48, 97, 0.5);
    border-radius: 5px;
}

.checkout-form h3.gform_title {
    color: #034364;
    font-size: 28px !important;
    margin-bottom: 25px !important;
}

.checkout-form h3.gf_progressbar_title {
    color: #444 !important;
    opacity: 1 !important;
    font-size: 16px !important;
    font-family: 'open sans' !important;
    font-weight: 600;
}

.checkout-form label.gfield_label {
    color: #034364;
    font-size: 20px !important;
    margin-top: 15px;
}

.checkout-form .gform_page_footer {
    margin-top: 30px !important;
}

.checkout-form input.gform_next_button {
    background: linear-gradient(to bottom, #ff8900 0%, #ff6700 100%);
    border-radius: 5px;
    font-size: 18px !important;
    text-transform: capitalize;
    font-family: 'Open Sans';
}

.checkout-form input.gform_previous_button {
    background: none;
    color: #333384 !important;
    padding-left: 20px !important;
    text-decoration: underline;
    font-weight: 600;
}

.checkout-form input#gform_submit_button_1 {
    background: linear-gradient(to bottom, #ff8900 0%, #ff6700 100%);
    border-radius: 5px;
    font-size: 18px !important;
    text-transform: capitalize;
    font-family: 'Open Sans';
}

.checkout-form span.ginput_quantity_label {
    display: flex;
    margin-left: 0 !important;
    margin-top: 20px;
}

.checkout-modifier-hide {
    display: none;
}


.order-summary h3 {
    color: #034364;
    font-size: 20px !important;
    margin-top: 15px;
    font-weight: 600 !important;
}

.order-summary table table tbody tr td {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: 15px !important;
    padding-left: 7px;
}

.order-summary table tr td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.order-summary table {
    margin-bottom: 0px;
}

.checkout-form .gfield_price .gfield_description {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.checkout-form .gform_wrapper span.ginput_product_price_label {
    font-weight: 600;
    font-size: 17px;
}

.checkout-form span.ginput_quantity_label {
    display: flex;
    margin-left: 0 !important;
    margin-top: 20px;
    font-weight: 600;
    font-size: 17px;
}

/* mobile */

@media (max-width:768px) {

  .page-template-course-registration-checkout .header .elements {
      justify-content: center;
  }

.dw-phone.b {
  display: none;
}

.gc-img.a {
    display: none;
}

.gc-img.b {
    display: none;
}

}

/* ow page boxes */

.nomargin {
    margin: 0;
}

.cfa-btn {
  background: linear-gradient(to bottom, #ff8900 0%, #ff6700 100%);
  border-radius: 5px;
  font-size: 18px !important;
  padding: 6px 0px;
  text-transform: capitalize;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px !important;
  color: #fff !important;
  font-weight: 500;
  position: absolute;
  bottom: 15px;
  left: 30px;
  right: 30px;
  max-width: 225px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: #333 1px 1px 3px;
}

.cfa-btn:hover {
    background: linear-gradient(to bottom, #ffa741 0%, #ff8532 100%);
    color: #fff !important;
}

.lp-ow-pt-row p {
    text-align: center;
}

a.ow-lp-get-started.bottom.lp-get-started-mobile._mPS2id-h {
    padding: 12px 64px !important;
    font-size: 32px;
    padding: 10px 25px !important;
}

/* ~ ~ ~ Travel PAGE ~ ~ ~ */

.row.travel {
    margin: 50px auto 0;
}

.row.travel h1 {
    font-size: 36px;
    color: #214a61;
    color: #343434;
    margin-bottom: 25px;
}

.row.travel h1::after {
    content: " ";
    background: #006aad;
    height: 7px;
    width: 100px;
    display: flex;
    margin-top: 25px;
    position: relative;
    margin-left: 15px;
}


/* ~ ~ ~ TRAVEL TRIP ~ ~ ~ */

.row.trip {
    box-shadow: 0px 5px 20px rgba(0, 48, 97, 0.5);
    border-radius: 5px;
    border: 1px solid #999;
    margin-bottom: 50px;
    max-width: 800px;
}

.row.trip .title {
    text-align: center;
    padding-top: 20px;
    background: linear-gradient(to bottom, rgb(239, 239, 239) 0%,rgba(255,255,255,1) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.row.trip .title h2 {
    color: #006aad;
    font-size: 2.4em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.row.trip .title h3 {
    color: #333;
}

.row.trip .title p {
    color: #333;
}

.row.trip .title strong {
    color: #d13d14;
}

.row.trip .details {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 17px;
}

.row.trip .details ul {
    padding-left: 1.5em;
}

p.squba-holidays::before {
    content: " ";
    height: 90px;
    width: 250px;
    display: flex;
    background: url(/wp-content/uploads/2015/05/squba-holidays-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.flyerImg {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.travelRow {
  margin-bottom: 50px;
}

.travelRow h2 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 5px;
}

p.travelShortDesc {
    font-size: 18px;
}

.travelRow p.dates {
    font-size: 24px;
    margin-bottom: 7px;
    color: #ff595e;
}

.trip-details {
    margin-bottom: 2rem;
}

.travelRow a.registerOnline {
    display: inline-block;
    padding: 12px 24px;
    background: #d13d14;
    color: #fff;
    font-family: 'roboto';
    text-transform: uppercase;
    letter-spacing: 1px;
}
.travelRow a.registerOnline:hover {
    opacity: 0.8;
}

/* ~ ~ ~ COURSES ~ ~ ~*/

.course-template {
  font-size: 17px;
}

.course-intro-img {
  margin-bottom:20px;
}

/* EQUIPMENT SPECIALTY COURSE */


/* EMERGENCY OXYGEN PROVIDER */

/* home page tiles */

.ht-travel {
  background: url(/wp-content/uploads/2016/12/cayman-islands.png);
  background: url(/wp-content/uploads/2018/06/dive-world-travel.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.ht-freediving {
  background: url(/wp-content/uploads/2016/12/intro-to-freediving.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* home tiles... again */

.tiles {

}

.tiles .h-tile {
    height: 300px;
    background: rgba(0, 106, 173, 0.2);
    margin-top: 25px;
    /* margin-bottom: 25px; */
    box-shadow: 0 3px 12px -2px rgba(0, 62, 103, 0.55);
}

.tiles.intro .h-tile {
    height: 400px;
    max-height: 59vh;
}

/* NEW ADVANCED OPEN WATER PAGE */

.sliderArea.aow .large-12 {
    background: #ddd;
    min-height: 450px;
    display: flex;
    flex-direction: row;
}

.sliderArea .sliderInner {
    max-width: 1080px;
    margin: auto;
    padding: 15px;
    flex-grow: 1;
}

.sliderArea h1 {
    font-size: 22px;
}

.sliderArea p {
    font-size: 42px;
    line-height: 1.25em;
    max-width: 600px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.sliderArea li {
    font-size: 24px;
    position: relative;
    left: 25px;
}

.sliderArea a.btn {
    background: linear-gradient(to bottom, #fe6700 0%,#fe4d00 100%);
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    color: #fff !important;
    font-size: 22px;
    font-weight: 600;
    text-shadow: #333 1px 1px 3px;
    transition: 300ms ease !important;
    display: inline-block;
}

.reviewsText {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 2rem;
    margin-bottom: 2rem;
}

.reviewsText p {
    display: inline-block;
    font-size: 20px;
    line-height: 35px;
    font-weight: 600;
    margin: auto;
}

.reviewsText img {
    margin-left: 25px;
}

.needtoknow {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.needtoknow h2 {
    color: #333384;
    text-align: center;
    margin: 1rem 0rem 4rem;
    font-size: 28px;
}

.needtoknow .large-4.columns {
    text-align: center;
}

.needtoknow h3 {
    color: #333384;
    font-size: 22px;
    text-transform: uppercase;
}

.needtoknow p {
    font-size: 18px;
}

.pricing {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.pricing .large-12 {
    margin-bottom: 2rem;
}

.pricing .large-12 h2 {
    color: #333384;
    text-align: center;
    margin: 1rem 0rem 1rem;
    font-size: 28px;
}

.pricing .large-12 p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.priceBox .priceQuarter {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

.priceQuarter h3 {
    color: #133ba3;
    text-transform: uppercase;
    font-family: 'Open Sans','Lato' !important;
    margin-top: 10px;
    margin-bottom: 20px;
}


.priceQuarter p.price {
    font-size: 38px;
    line-height: 1em;
    color: #333;
    font-family: 'Lato' !important;
    margin-bottom: 2rem;
}

p.point {
    font-size: 18px;
    font-weight: 600;
    color: #333 !important;
    margin-bottom: 10px;
}

a.registerNow {
    border-radius: 5px;
    padding: 10px 24px;
    text-transform: capitalize;
    font-size: 20px !important;
    color: #fff !important;
    font-weight: 600;
    text-shadow: #333 1px 1px 3px;
    background: linear-gradient(to bottom, #ff8900 0%, #ff6700 100%);
    margin: 12px 0 15px;
    display: inline-block;
    font-family: 'lato';
}

/* PADI ELEARNING LINKS HIDE ON SITE */

.spco-ticket-info-dv span.line-item-desc-spn.smaller-text {
    display: none;
}

span.line-item-desc-spn.smaller-text {
    display: none;
}

/**/

/* AFFILIATE */

a.ajax_add_to_cart.product_type_external.button.alt-button.small.clearfix {
    background-color: #3498db !important;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    border: 0px solid #217dbb !important;
    border-radius: 2px;
    background-image: linear-gradient(to bottom,hsla(0,0%,100%,.12) 0%,hsla(0,0%,100%,0) 100%);
    padding: 0.78em 1em;
    transition: 300ms ease !important;
}

/* new course registration */

.ginput_container_number .instruction {
    display: none;
}


/*ticket selector alteration sample*/

th.ee-ticket-selector-ticket-qty-th.cntr.EventQty {
    display: none;
}

td.tckt-slctr-tbl-td-qty.cntr {
    display: none;
}

/**/

div#tkt-slctr-request-processor-dv {
    display: none;
}

.ticket-selector-submit-btn.ticket-selector-submit-ajax {
    display: none !important;
}

/**/

.pseudoCourseRegDiv {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

@media (max-width:768px) {

  .ticket-selector-div .ssl {
    display: none;
  }
  .ticket-selector-div .secure-payment {
    max-width: 350px;
    margin-left: auto;
    float: none !important;
    margin-right: auto;
  }

  .ticket-selector-div {
    padding: 0px !important;
    background: none;
  }
  .tkt-slctr-tbl-wrap-dv {
    padding: 5px 0px !important;
  }
}

a.a-pseudoCourseRegDiv {
    background-color: #D13A14 !important;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 24px;
    border-radius: 5px;
    display: -webkit-inline-box;
}

/**/

.PayOptions i.fa.fa-lock {
    display: none;
}

/* AIDA COURSES */

.marginbottom25 {
  margin-bottom: 25px;
}

/* course edits */

.qty .instruction {
    display: none;
}

/*learnpage*/

.learnpage {
  padding: 50px 15px;
}

.postLearn {
  padding-bottom:20px;
  margin-bottom: 20px;
  border-bottom:2px solid #ddd;
}

/* CALENDAR */

.calendar-template {
  background: rgb(250, 250, 255);
  padding-bottom: 50px;
}

.calendarTitle {
    text-align: center;
    padding: 30px 15px 15px;
    margin-bottom: 30px;
    border-bottom: 2px dashed #dfdeff;
}

.calendarTitle h1 {
    color: #d13d14;
    font-size: 36px;
    margin-top: 0;
}

.calendarTitle p {
    font-size: 18px;
    margin-bottom: 1em;
}

#calendar table {
    margin: 0;
    font-size: 16px;
}

#calendar h2 {
    color: #006aad;
}

.fc-view-container {
    background: #fff;
}

/*Freediving Page Additions*/

.sf-div {
    border: 1px solid #ddd;
    text-align: center;
}

.sf-img {
    height: 175px;
    /*background: #ddd;*/
}

.sf-img.a {
    background: url(https://diveworld.ca/wp-content/uploads/2016/01/freediving-02.png);
    background-size: cover;
    background-position: center;
}

.sf-img.b {
    background: url(https://diveworld.ca/wp-content/uploads/2017/10/geoff-coombs-freediving-1.jpg);
    background-size: cover;
    background-position: top;
}

.sf-img.c {
  background: url(https://diveworld.ca/wp-content/uploads/2017/10/geoff-coombs-freediving-2.jpg);
  background-size: cover;
  background-position: center;
}

.sf-div h3 {
    margin: 0;
    padding: 15px;
}

h2.freediving-courses-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #d13d14;
}

.aida-2, .aida-3 {
  height: 170px;
}


/**/

.page-id-10323 a.LearnMore {
    margin-top: 8px;
    font-size: 18px !important;
}

@media (max-width:400px)
 {
   .category-row-two-spearfish .category-desc-menu {
       margin-bottom: 0 !important;
       position: relative;
       bottom: 60px;
   }
}

.refresh-options {
    margin: 0;
    padding: 15px;
    background-color: #FFF;
    border: 2px solid #335D79;
    border-radius: 3px;
}

.small-12.refresh-options.large-12.columns {
    margin: 0;
    border: 0;
}

/*black friday special*/

a.registerNow.courseBtnNow {
    display: flex;
    max-width: 420px;
    text-align: center !important;
    margin: auto;
    font-size: 24px !important;
    padding: 20px 16px !important;
    line-height: 1.25em;
}

/**/

.ht-gift {
    background: url(/wp-content/uploads/2017/11/dive-world-gift-cards.jpg);
    background: url(/wp-content/uploads/2018/04/full-snorkeling-gear-800.jpg);
    background-size: cover;
    background-size: 125%;
    background-position: center;
    background-repeat: no-repeat;
}
.ht-gift-cert {
    background: url(/wp-content/uploads/2017/11/dive-world-gift-cards.jpg);
    background-size: cover;
    background-size: 125%;
    background-position: center;
    background-repeat: no-repeat;
}
.ht-divemaster {
    background: url(/wp-content/uploads/2018/05/dive-master-internship.jpg);
    background: url(/wp-content/uploads/2015/12/mario-boat-4.jpg);
    background-size: cover;
    /* background-size: 125%; */
    background-position: center;
    background-repeat: no-repeat;
}

/* LOGO UPDATES */

@media (min-width:768px) {
  #masthead #logo {
      width: 280px !important;
  }
}

#masthead #logo a {
    max-width: 280px !important;
}

/* TABLET RESPONSIVE FIXES */

@media (max-width:768px) and (min-width:425px) {
  #top-bar {
    height: 50px;
  }
  #top-bar .left-text.left {
    padding: 0;
    width: 100%;
    text-align: right;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 3px;
  }
  #masthead {
    height: 100px;
  }
  .MobileHomeSearch {
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0;
  }
  div#banner_1554701652 {
      height: 450px !important;
  }

}

#buy-sc-course form {
    display: none;
}

/* New students page */

.not-suitable-gear {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.not-suitable-gear h2 {
    color: #a82d62;
    margin-top: 1rem;
}

.faq-container h3 {
    margin-top: 2rem;
  }

.newstudents {
    text-align: center;
    padding: 3rem 0;
}

h1.weekend {
    font-size: 2.5rem;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 1.5em;
}

span.clock {
    margin-right: 4px;
}

.schTime {
    background: #DA4453;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);
    padding: 1rem 0;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

p.schP {
    margin-bottom: 1rem;
    font-size: 24px;
    max-width: 900px;
    /* max-width: 800px; */
    margin-left: auto;
    margin-right: auto;
}

h2.sets {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: #32607b;
    font-size: 32px;
}

h3.bundleTitle {
    color: #ae3260;
    text-align: center;
    border-bottom: 2px solid;
    font-size: 24px;
    padding-bottom: 10px;
    background: #fafafa;
    padding-top: 10px;
}

.dive-computers h3.bundleTitle {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4.fullprice {
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
}

.bundleDesc {
    padding-left: 18px;
    padding-top: 15px;
    font-size: 18px;
}


.bundleDesc ul {
    min-height: 150px;
}


.dive-computers .bundleDesc ul {
    min-height: 200px;
}

.new-bundles .bundleDesc ul {
    min-height: 255px;
    min-height: 200px;
}

.bundlePrice {
    background: #fafafa;
    padding: 15px 15px;
    border-bottom: 2px solid #ae325f;
}

.bundlePrice h4.price {
    margin: 0;
    font-weight: 400;
}

.bundlePrice span.number {
    font-weight: 600;
    color: #ae325e;
}

.middleImg img {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    max-width: 600px;
    max-width: 800px;
    margin-bottom: 2rem;
}

.nodoubt {
    padding: 6rem 1rem 2rem;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nodoubt h2 {
    color: #ae325e;
    color: #1976D2;
    font-size: 36px;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 2rem;
}

.nodoubt p {
    font-size: 22px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.reminder {
    font-size: 24px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.somethingtothinkabout {
    font-size: 20px;
    max-width: 800px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.somethingtothinkabout strong {
    color: #325f7a;
}

@media (max-width:500px) {
    .bundleDesc ul {
        min-height: 0px !important;
    }
    .bundlePrice {
        margin-bottom: 3rem;
    }
    .middleImg img {
        max-width: 100%;
    }
}

/* trip page */

.row.tripIntro {
    padding: 3rem 0;
}

.tripIntro h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

p.intro-dates {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #666;
    padding-bottom: 2rem;
}

.trip-desc {
    font-size: 18px;
}

a.registerOnline {
    background: #d13d14;
    color: #fff;
    padding: 14px 36px;
    display: -webkit-inline-box;
    font-size: 18px;
    background: #ff5a5f;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 1rem;
}

.tripRow img {
    margin-bottom:1rem;
}
.tripRow.top img {
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
}


a.trip-a {
    background: #d13d14;
    color: #fff;
    padding: 12px 32px;
    display: -webkit-inline-box;
    font-size: 18px;
    background: #ff5a5f;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
}


.page-id-17866 .header-wrapper {
    display: none !important;
}

.page-id-19239 .header-wrapper {
    display: none !important;
}

.reduced-header {
    text-align: center;
    padding: 4rem 0;
    border-bottom: 1px solid #eee;
    background: #f3f4fb;
    background: linear-gradient(to top, #e2e2e23b, #c9d6ff63);
}

img.reduced-logo {
    max-width: 300px;
    margin-bottom: 2rem;
}

.reduced-number {
    font-size: 24px;
    font-weight: 600;
}

.bigDeepIntro h1 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.bigDeepIntro img {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;

}

@media (max-width:800px) {
  .bigDeepIntro img {
  max-width: 100%;
        margin-left: auto;
      margin-right: auto;
      display: -webkit-box;
  }

  .reduced-header {
    padding-top: 5rem;
        padding-bottom: 2rem;
  }

  img.reduced-logo {
    margin: 0;
  }
  .reduced-number {
    display: none;
  }

}

.bigDeepCheckout {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bigDeepCheckout .form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.big-deep-disclaimer {
  color:#d13d14;
  font-size: 24px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

/* divemaster intro banner */

.lp-intro-banner {
  height: 520px;
  display: flex;
  align-items: center;
  background-image: url(/wp-content/uploads/2015/12/mario-boat-4.jpg);
  background-size: cover;
  background-position: 50% 0%;
}
.lp-intro-banner .content {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  flex-grow: 1;
}

.lp-intro-banner .content h1 {
  color: #333384;
  margin-top: 0;
  margin-bottom: 2rem;
}
.lp-intro-banner .content h2 {
  font-size: 42px;
  /* max-width: 450px; */
  color: #343383;
  margin-bottom: 2rem;
}
.lp-intro-banner .content li {
  font-size: 24px;
  color: #353382;
}
.lp-intro-banner .content a.start {
  background: linear-gradient(to bottom, #fe6700 0%,#fe4d00 100%);
      padding: 14px 120px;
      border-radius: 5px;
      color: #fff !important;
      font-size: 22px;
      font-weight: 600;
      text-shadow: #333 1px 1px 3px;
      transition: 300ms ease !important;
      margin-top: 5px;
      display: -webkit-inline-box;
}

p.full-fake-img {
    background: #d13d14;
    color: #fff;
    height: 400px;
    margin-bottom: 4rem;
}

.dm-introduction {
    padding: 4rem 0;
}

.dm-intro p {
    font-size: 24px;
    margin: 0;
}

.need-to-know, .fine-print {
    border-top: 1px solid #ddd;
    padding: 2rem 0;
}

.need-to-know {
  margin-bottom: 4rem;
}

.need-to-know .read-more p {
  text-align: left;
  margin-top: 3rem;
  padding: 2rem;
  background: #fafafa;
  font-size: 18px;
  border-top: 3px solid #d13d14;
}

.need-to-know h2, .fine-print h2 {
    color: #333384;
    text-align: center;
    margin: 20px 0px 40px;
    font-size: 28px;
}

.need-to-know h3 {
    color: #343383;
    text-align: center;
    font-size: 22px;
}

.need-to-know p {
    text-align: center;
}

.readmore {
    text-align: center;
}

.readmore span {
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #333;
    padding: 8px 12px;
    display: -webkit-inline-box;
    cursor: pointer;
}

.register-div {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.register-div .buttons {
    display: flex;
    flex-direction: inherit;
    width: 600px;
    justify-content: space-around;
    /* justify-content: space-between; */
}

a.reg-now {
    background: #d13d14;
    color: #fff;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 20px;
}

a.reg-call {
    background: #3a6f87;
    color: #fff;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 20px;
}

.displayNone {
  display:none;
}

.read-more {
  max-height: 500px;
  opacity: 1;
  transition: 1000ms ease-in-out;
}
.read-more.heightZero {
  max-height: 0px;
  opacity: 0;
  overflow:hidden;
  transition: 1000ms ease-in-out;
}

/* boulevard club page */


.page-id-17962 header#masthead {
    display: none;
}

.page-id-17962 .ubermenu {
    display: none;
}

.page-id-17962 .ow-phone-cta {
    display: block;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.two-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.two-logos img {
    max-height: 65px;
}

.page-id-17962 .ux-section.dark {
    background: url(https://diveworld.ca/wp-content/uploads/2015/12/mario-boat-4.jpg);
    background-size: cover;
    background-position-y: 0%;
}

h5.h5-cross-out {
    text-decoration: line-through;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 0px;
    color: #565656;
}

.page-id-17962 .ow-lp-pt-box {
    min-height: 550px;
}

.page-id-17962 div#slider-ow-m-row {
  display: none;
}
.page-id-17962 .ux-section.dark {
  display: block;
}

@media (max-width:768px) {
  .two-logos img {
    max-width: 45%;
  }
  .row.boulevard.club.header {
    padding-top: 55px;
  }
  #top-bar {
    display: none;
  }

  .page-id-17962 #slider-ow-m-row {
    display: block !important;
  }
  .page-id-17962 .ux-section.dark {
    display: none !important;
  }

}

/*  */

#bc-div::before {
    content: "Exclusive to";
    display: block;
    color: #d13d14;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    bottom: 3px;
}

#bc-logo {
    max-width: 100%;
}

.dm-three-img {
  margin-bottom: 1rem;
}

.dmB.active {
  border-color: #d13d14;
  background: #d13d14;
  color:#fff;
}

/* april 2018 clearance */

p.tagline {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 20px;
}

.april-clearance {
  padding: 3rem 0;
}

.april-clearance h1 {
  color:#d13d14;
  font-weight: 800;
  text-align: center;
  font-size: 36px;
  margin-bottom: 1rem;
}

.ca-product {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 2rem;
}
.ca-product:hover {
    opacity: 0.8;
}

.ca-product img {
  margin-bottom: 1rem;
}

.ca-product h2 {
    line-height: 1.2;
}

.shop-now-btn {
    text-align: center;
    display: block;
    background: #d13d14;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
}

p.msrp {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    color: #777;
    margin-bottom: 0;
}

p.msrp-amt {
    text-decoration: line-through;
    color: #777;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 12px;
}

p.saleprice {
    margin-bottom: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #339c36;
}

p.saleprice-amt {
    /* line-height: 2; */
    color: #339c36;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.page-id-2967 .TheoryOptionE {
    background-color: #FFF;
    border: 2px solid #60A149;
    padding: 10px;
    max-width: 725px;
    margin-left: 20px;
    float: left !important;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.page-id-2965 .TheoryOptionE {
    background-color: #FFF;
    border: 2px solid #60A149;
    padding: 10px;
    max-width: 725px;
    margin-left: 20px;
    float: left !important;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

div#tkt-slctr-tbl-wrap-dv-3934 {
    border-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.tkt-slctr-tbl-wrap-dv {
    padding: 10px 10px !important;
    border: 0 !important;
}

@media only screen and (max-width: 48em) {
  .small-12.TheoryOptionE.large-12.columns {
      margin-bottom: 15px;
      margin-left: 0;
  }
}

/* MISC MOBILE UPDATES */

.MobileHomeSearch .product-search-field {
    /* margin-top: 10px; */
}

@media (max-width:768px) {
  .feature-ps-one {
    margin-bottom: 1rem;
  }
  .home-introduction-div .row.container {
    margin-bottom: 0px !important;
  }
  .row.container.home-tile-row {
    margin-bottom: 0px !important;
  }

  /* Course templates */

  .WhatLearn {
    margin-left: 0;
    margin-right: 0;
  }

  /* About pages mobile */

  .about-slider {
    height: 150px !important;
    margin-top: 30px;
    margin-bottom: 150px;
  }
  .about-slider .nav-container {
    position: relative;
    top: 120px;
  }

  .about-slider.contact {
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.page-template-course-registration-checkout .fixed-inner {
    display: none;
}

/* new open water page */

.page-id-18471 .ow-lp-pt-box {
    min-height: 565px;
}

.page-id-18471 .ux-section.dark {
    background: url(https://diveworld.ca/wp-content/uploads/2015/12/mario-boat-4.jpg);
    background-size: cover;
    background-position-y: 0%;
}

body.page-id-18471 .ubermenu {
display:none !important;
}

body.page-id-18471 div#main-content {
  border-top: 1px solid #ddd;
  background-color:#fff !important;
}

body.page-id-18471 div#wrapper {
  background-color: #FAFAFA;
}

body.page-id-18471 #masthead {
  background-color: #FAFAFA !important;
  margin-bottom: 15px;
}

body.page-id-18471 .aboveMenu {
display:none !important;
}


body.page-id-18471 .footer.footer-2.light {
  display: none;
}


body.page-id-18471 .ow-phone-cta {
  display: block;
  text-align: right;
  margin-right: 75px;
  position: relative;
  top: -5px;
}

body.page-id-18471 #logo a img {
  max-height: 62px;
}

body.page-id-18471 .DesktopHomeSearch {
 display:none;
}

body.page-id-18471 .phone-top-bar {
 display:none !important;
}
body.page-id-18471 .right-links {
 display:none !important;
}

body.page-id-18471 p.ow-addy {
display: inline-block !important;
}
body.page-id-18471 form {
    background-color: #fff;
    padding: 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-id-18471 .MobileHomeSearch {
    display: none !important;
}

/* OPEN WATER BRIDGE VERSION */

.bridge-version .ow-lp-pt-box-above-blank {
    display: none;
}

.bridge-version .ow-lp-pt-box-above {
    display: none;
}

.bridge-version .ow-lp-pt-box {
    padding: 0;
    border: none;
    background: #fff;
}

.bridge-version img.ow-lp-pt-img {
    width: 100%;
}

.bridge-con {
    background: #f5f5f5;
    padding: 4rem 0 2rem;
    margin-bottom: 4rem;
}

.bridge-version h2.h2-ow-lp.get-started-today {
    font-size: 2.5rem;
    color: #444;
}

.bridge-version p.h2-ow-lp-subtitle {
    font-size: 18px;
    margin-bottom: 4rem !important;
}

.bridge-version .course-boxes-content {
    padding: 0.5rem 1rem;
}

.bridge-version a.cfa-btn {
    padding: 6px 18px;
    border: 1px solid #b6330e;
    background: #b6330e;
    color: #fff;
    max-width: 160px!important;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-radius: 0;
    text-shadow: none;
    bottom: 20px;
}

.bridge-version h3.h3-lp-ow-pt {
    color: #b6330f;
    font-size: 16px;
}

/*  */

.term-description .category-feature {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #333;
  font-weight: 600;
}

.drysuits-feature {
    text-align: center;
    padding: 2rem 0;
}

.drysuits-feature h2 {
    font-size: 2rem;
    color: #d13d14;
}

.drysuits-feature p {
    font-size: 18px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

/* rest of the new OW PAGE */

.three-img-row {
  margin-bottom: 2rem;
}

.three-img-row h2.h2-ow-lp.easy-as-h2.full-course {
    text-align: center !important;
    font-size: 2.5rem;
    border-top: 1px solid #ddd;
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.complete-open-water-easy {
    padding: 1rem 0;
}

.complete-open-water-easy p.step {
  font-size: 21px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #343383;
  text-align: center;
}

@media (max-width:768px) {
  .hideMobile {
    display: none;
  }
  .hideDesktop {
    display: block;
  }
  body.page-id-18471 #masthead, body.page-id-4752 #masthead {
    display: none;
  }
}
@media (min-width:768px) {
  .hideMobile {
    display: block;
  }
  .hideDesktop {
    display: none;
  }
}

/* new helpers */

label.screen-reader-text {
    display: none;
}

/*  */

.page-id-16344 td.tckt-slctr-tbl-td-name {
    padding-right: 20px;
}

/*  */

.DesktopHomeSearch input.search-field {
    max-width: 60%;
    display: -webkit-inline-box;
}

.DesktopHomeSearch input[type="submit"] {
    height: 32px;
    padding: 11px 16px;
    font-family: 'roboto';
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    background: #d13d14;
}

span.soldOut {
    background: #d13d14;
    font-size: 18px;
    margin-left: 10px;
    color: #fff;
    padding: 4px 16px;
    border-radius: 5px;
    position: relative;
    bottom: 5px;
}

/* BUILD A KIT */

.postid-14690 .related-product {
    display: none;
}

.postid-14690 #top-bar {
    display: none;
}

body.postid-14690 .ow-phone-cta {
    display: none;
}

.postid-14690 #masthead #logo a {
    max-width: 100% !important;
    text-align: center;
}

/* featured image */

img.featured-margin {
  margin-bottom:1rem;
}

.page-id-17753 p.FooterCTA.footer-no-home {
    display: none;
}
.alt-cta-area {
    padding: 3rem 1rem;
    text-align: center;
    font-family: 'Roboto' !important;
    font-size: 1.7em;
    font-weight: 500;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    color: #555555;
    line-height: 1.5;
}

.marine-research-assistant-program {
    padding: 2rem 0;
}

.marine-research-assistant-program h1 {
    padding: 2rem 0;
    text-align: center;
    font-size: 2rem;
}

.marine-research-assistant-program .row {
    margin-bottom: 1rem;
}

